<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gerenciacastracoes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".EditarListaNegra"
            android:label="@string/title_activity_editar_lista_negra"
            android:parentActivityName=".VisualizarListaNegra"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizarListaNegra"
            android:label="@string/title_activity_visualizar_lista_negra"
            android:parentActivityName=".ListagemListaNegra"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastroListaNegra"
            android:label="@string/title_activity_cadastro_lista_negra"
            android:parentActivityName=".ListagemListaNegra"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListagemListaNegra"
            android:label="@string/title_activity_listagem_lista_negra"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastrarAnimalListaEspera"
            android:label="@string/title_activity_cadastrar_animal_lista_espera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditarAnimalListaEspera"
            android:label="@string/title_activity_editar_animal_lista_espera"
            android:parentActivityName=".VisualizarAnimalListaEspera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizarAnimalListaEspera"
            android:label="@string/title_activity_visualizar_animal_lista_espera"
            android:parentActivityName=".VisualizarClienteListaEspera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditarAnimal"
            android:label="@string/title_activity_editar_animal"
            android:parentActivityName=".VisualizarAnimal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizarAnimal"
            android:label="@string/title_activity_visualizar_animal"
            android:parentActivityName=".VisualizarCliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastrarAnimal"
            android:label="@string/title_activity_cadastrar_animal"
            android:parentActivityName=".VisualizarCliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditarClienteListaEspera"
            android:label="@string/title_activity_editar_cliente_lista_espera"
            android:parentActivityName=".VisualizarClienteListaEspera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditarCliente"
            android:label="@string/title_activity_editar_cliente"
            android:parentActivityName=".VisualizarCliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizarClienteListaEspera"
            android:label="@string/title_activity_visualizar_cliente_lista_espera"
            android:parentActivityName=".VisualizarMutirao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastroClienteListaEspera"
            android:label="@string/title_activity_cadastro_cliente_lista_espera"
            android:parentActivityName=".VisualizarMutirao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizarCliente"
            android:label="@string/title_activity_visualizar_cliente"
            android:parentActivityName=".VisualizarMutirao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditarMutirao"
            android:label="@string/title_activity_editar_mutirao"
            android:parentActivityName=".VisualizarMutirao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastrarCliente"
            android:label="@string/title_activity_cadastrar_cliente"
            android:parentActivityName=".VisualizarMutirao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizarMutirao"
            android:label="@string/title_activity_visualizar_mutirao"
            android:parentActivityName=".ListagemMutiroes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListagemMutiroes"
            android:label="@string/title_activity_listagem_mutiroes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastroMutirao"
            android:label="@string/title_activity_cadastro_mutirao"
            android:parentActivityName=".ListagemMutiroes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>